* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


#start_video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

#start_video .scroll_down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    z-index: 1;
    opacity: 0.7;
}

#start_video .scroll_down .logo {

    margin-bottom: 0px;
    color: #ffffff;
}

#start_video .scroll_down .logo img {
    width: 252px;
    height: 176px;

}

#start_video .scroll_down p {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    border: 0.1px solid;
    padding: 1px;
    border-radius: 15px;
    width: 150px;
    margin-left: 50px;

}

#start_video .black {
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:900;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100
}

#header .logo {
    margin-left: 150px;

}

#header .logo a {

}

#header .gnb {

}

#header .gnb ul {
    display: flex;

}

#header .gnb li {
    font-size: 20px;
    text-align: center;
    margin-right: 100px;
    padding: 50px;
}

#header .gnb li:last-child {
    margin-right: 0;
}


#main_section {
    position: relative;
}

#main_slide {
    width: 100%;


}

#main_section .title {
    margin-left: 50px;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1;
    color: #ffffff;
}

#main_section .title h1 {
    font-size: 50px;
}

#main_section .title h2 {
    font-size: 30px;
}


#lost_cat .title {
    margin-left: 280px;
    font-size: 30px;
    font-weight: bold;

}

#lost_cat .lost_cat_slider_container {
    width: 100%;
    overflow: hidden;


}


#lost_cat #slider2 {
    width: 2300px;
}





#lost_cat #slider2 .slide_box {
    position:relative;
}
#lost_cat #slider2 img {
    width: 473px;
    height: 592px;
    border-radius: 50px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.65);
}
#lost_cat #slider2 .short_cut{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-300px,150px);
    cursor:pointer;
}




#lost_cat #slider2 .info {
    font-weight: bold;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 25px;
    margin-bottom: 90px;
    line-height: 25px;
}


#lost_cat #slider2 .short_cut p {
    font-weight: 900;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
   /* border: 1px solid;*/
    padding: 1px;
    border-radius: 20px;
    width: 100px;
    margin-left: 180px;

}

#cat_garden_news .title2 {
    margin-left: 280px;
    font-size: 30px;
    font-weight: bold;}

#cat_garden_news .news_container .box1
{margin-left: 280px;}
#cat_garden_news .news_container .box2
{float: left;
margin-left: 280px;}
#cat_garden_news .news_container .box3
{float: left;
margin-left: 60px;
margin-right: 60px;}
#cat_garden_news .news_container .box4
{}

#cat_garden_news .box1 .card_title
{font-size: 30px;
font-weight: 900;
position: inherit;
z-index: 1;
}
#cat_garden_news .box1 .time{
    font-size: 30px;
    font-weight: 900;
    position: inherit;
    z-index: 1;
}
#cat_garden_news .box2 .card_title
{font-size: 30px;
    font-weight: 900;
    position: inherit;
    z-index: 1;}
#cat_garden_news .box3 .card_title
{font-size: 30px;
font-weight: 900;
position: inherit;
z-index: 1;}
#cat_garden_news .box4 .card_title
{font-size: 30px;
    font-weight: 900;
    position: inherit;
    z-index: 1;}





#cat_garden_news #slider3 .box2 .short_cut p
{   font-weight: 900;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1px;
    border-radius: 20px;
    width: 100px;
    margin-left: 50px;
}

#cat_garden_news #slider3 .box3 .short_cut p
{   font-weight: 900;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(207, 189, 177, 0.4);
    padding: 1px;
    border-radius: 20px;
    width: 100px;
    margin-left: 50px;
}
/*#cat_garden_news #slider3 .box4 .short_cut p
{   font-weight: 900;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(222, 39, 202, 0.4);
    padding: 1px;
    border-radius: 20px;
    width: 100px;
    margin-left: 180px;
}*/


#shop .title1{margin-left: 280px;
    font-size: 30px;
    font-weight: bold;}
#shop .title2{margin-left: 280px;
    font-size: 30px;
    font-weight: bold;}


       
















